---
import { Image } from "astro:assets";
import { destinationHeroImage, destinationPath, type Destination } from "../lib/destinations";

type Props = {
  destination: Destination;
};

const { destination } = Astro.props;
const { data } = destination;
const heroImage = destinationHeroImage(destination);
const href = destinationPath(destination);
---

<article class="destination-card">
  <Image
    class="destination-card-image"
    src={heroImage}
    alt={data.heroImageAlt}
    widths={[480, 640, 768, 960, 1280, 1600]}
    sizes="(max-width: 760px) 100vw, 50vw"
    quality={62}
    loading="lazy"
    decoding="async"
  />
  <div class="destination-card-body">
    <p class="card-kicker">{data.region}</p>
    <h2>{data.name}</h2>
    <p>{data.cardSummary}</p>
    <dl class="card-meta">
      <div>
        <dt>Best season</dt>
        <dd>{data.bestSeason}</dd>
      </div>
      <div>
        <dt>Signature experiences</dt>
        <dd>
          <ul class="experience-list">
            {data.signatureExperiences.map((experience) => <li>{experience}</li>)}
          </ul>
        </dd>
      </div>
    </dl>
    <a class="button button--secondary" href={href}>More info</a>
  </div>
</article>
